
# Core dependencies
faiss-cpu==1.13.2
requests==2.32.5
python-dotenv==1.2.1
pydantic==2.12.5

# FastAPI and CORS
fastapi==0.110.2
uvicorn==0.29.0

# LangChain and related
langchain==1.2.9
langchain-core==1.2.9
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-google-genai==4.2.0
langchain-text-splitters==1.1.0
langchain-embeddings==0.0.1

# Embeddings
huggingface_hub==1.4.1
sentence-transformers==5.2.2

# Google GenAI
google-auth==2.48.0
google-genai==1.62.0
