.logo-container {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 0 1rem 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logo-container h1 {
  font-size: 10rem;
  font-family: 'Nova Mono';
  letter-spacing: -1rem;
  color: rgba(255, 255, 255);
  margin: 0;
}

.form-container {
  position: fixed;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 30vw;
  max-height: 80vh;

  color: white;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  
  /* Border and shadows */
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 35px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
  padding: 3rem;
  margin-left: auto;
  margin-right: 0;
  overflow: scroll;
}

.form-container h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.form-container form{
  padding: 0;
}

.form-container label{
  font-size: 1.75rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-container input,
.form-container select,
.form-container textarea {
  font-family: inherit;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  box-sizing: border-box;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


.submit-button {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  border: none;
  background: rgba(255, 227, 88);
  font-weight: bold;
  cursor: pointer;
  color: rgb(130, 103, 7);
  transition: background-color 0.4s ease;

}

.submit-button:hover {
  background: rgb(249, 215, 46);
}
