.logo-container {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 0 4rem 4rem;
}

.logo-container h1 {
  font-size: 10rem;
  font-family: 'Nova Mono';
  letter-spacing: -1rem;
  color: rgba(255, 255, 255);
  margin: 0;
}


.form-container {
  position: fixed;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 35vw;
  height: 80vh;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  padding: 16px;

  margin-left: auto;
  margin-right: 0;
}

.generated-button {
  font-family: 'Krub';
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  border: none;
  background: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ease;

}

.generated-button:hover {
  background: #2d7e31;
}