.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  background: transparent;
}

.loading-text {
  z-index: 1;
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
  font-family: 'Neucha';
}

.loading-text h2, p{
  margin: 0;
}